@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "./SCSS/container";
@import "./SCSS/left-section";
@import "./SCSS/right-section";

$bs-body-font-family: "Ubuntu", sans-serif !important;

$purplish-blue: hsl(243, 100%, 62%);
$strawberry-red: hsl(354, 84%, 57%);
$marine-blue: hsl(231, 96%, 18%);
$light-blue: hsl(206, 94%, 87%);
$pastel-blue: hsl(228, 100%, 84%);

$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 940px,
  xl: 1200px,
  xxl: 1400px,
);

body {
  background-color: $magnolia !important;
}

p {
  font-size: 1rem !important;
}

@media (min-width: 992px) {
  .h-lg-fullscreen {
    height: 100vh;
  }

  .mw-940px {
    max-width: 940px;
  }

  .mt-lg-0px {
    margin-top: 0px !important;
  }

  .mb-lg-0px {
    margin-bottom: 0px !important;
  }
}

.mt-100px {
  margin-top: 100px;
}

.mb-120px {
  margin-bottom: 120px;
}

.pe-pointer {
  cursor: pointer;
}

.transition {
  transition: all 0.2s ease-in-out !important;
}
