@import "./summary";
@import "./plan";
@import "./addon";

$marine-blue: hsl(231, 96%, 18%);
$cool-gray: hsl(231, 11%, 63%);

.form-label,
legend {
  color: $marine-blue !important;
}

legend {
  font-size: 2rem !important;
  font-weight: 700;
}

.form-control {
  height: 3rem;
}

.form-label {
  margin-top: 1.5rem;

  font-weight: 500;
}

.btn,
.btn-outline {
  height: 3rem;
  width: 7.6875rem;
}

.btn {
  $bs-btn-bg: hsl(231, 96%, 18%) !important;
  background-color: $bs-btn-bg;

  border: 0 !important;

  color: white !important;
}

.btn-outline {
  color: $cool-gray;

  background-color: transparent;

  border: 0;

  text-align: left;
}

.right-0 {
  right: 0rem;
}

@media (min-width: 992px) {
  .position-lg-static {
    position: static !important;
  }
}

@media (max-width: 992px) {
  .position-xs-fixed {
    position: fixed;
  }
}
