$magnolia: hsl(217, 100%, 97%);
$cool-gray: hsl(231, 11%, 63%);
$purplish-blue: hsl(243, 100%, 62%);
$marine-blue: hsl(231, 96%, 18%);
$alabaster: hsl(231, 100%, 99%);

.h-40px {
  height: 40px;
}

.w-40px {
  width: 40px;
}

.bg-magnolia {
  background-color: $magnolia;
}

.text-marine-blue {
  color: $marine-blue !important;
}

.text-cool-gray {
  color: $cool-gray;
}

a.text-cool-gray:hover {
  color: $purplish-blue;
}

.border-purplish-blue {
  border: 1px solid $purplish-blue !important;
}

.bg-alabaster {
  background-color: $alabaster;
}

@media (min-width: 992px) {
  .col-lg-35 {
    width: 29.16666666% !important;
  }
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
  background-color: $marine-blue !important;
  border-color: $marine-blue !important;
}
